@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rampart+One&display=swap');

*{
    margin: 0;
    padding: 0;
    z-index: 0;
}
body{
    background: #000;
    position: relative;
    overflow: ayto;
}
.nav__block{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    margin: 0 auto;
    margin-top: 200px;
}
.nav__block2{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    margin: 0 auto;
    margin-top: 310px;
}
.nav__heading{
    color: rgb(14, 11, 11);
    font-family: 'Righteous';
    font-size: 700%;
    text-align: center;
}
.nav__little-heading{
    font-family: 'Dosis';
    text-align: center;
}
.gallery_section__block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 200px;
}
.gallery_section{
    width: 100%;
}
.gallery_section__img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
}

img:hover{
    filter: grayscale(0%);
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
}
.about_section{
    padding-bottom: 150px;
}
.about_section__left_image{
    max-width: 90%;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
    cursor: pointer;
}
.about_section__right_image{
    display: block;
    max-width: 90%;
    margin-right: 0;
    margin-left: auto;
    filter: grayscale(100%);
    transition: 1s ease-in-out;
    cursor: pointer;
}

.about_section__text{
    color: rgb(148, 148, 148);
}
.about_section__block{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "p1 p2";
}
.about_section__text_box{
    color: rgb(148, 148, 148);
    font-family: 'Raleway';
    font-size: 120%;
    font-weight: 600;
    width:70%;
    margin: auto auto;
}
.big_text{
    font-size: 125%;
    font-style: italic;
    font-weight: 700;
}